@keyframes expand {
  from {
    transform: scale(0);
    opacity: 0;
    background: #5470b0;
 }
}
.add-box {
  float: left;
  width: 100px;
  height: 100px;
  background: #bdfced;
  color: #00decf;
  font-size: 50px;
  vertical-align: middle;
  border: 0;
  cursor: pointer;
}
.add-box:focus {
  outline: 0;
}
.box {
  float: left;
  background: #00decf;
  width: 100px;
  height: 100px;
  animation: expand 0.5s ease-in-out;
}
body {
  background: #5470b0;
}
